table{
    border: greenyellow;
    border: 2px solid;
    background:blue;
    margin: auto;
    border-collapse: collapse;
}

td{
    text-align: center;
    border: 2px solid black
}


body{
    background: yellowgreen;
}

.aboutUs{
    float: left;
}
.reviews{
    display: block;
    float: right;
    width: 70em;
}